# Created by .ignore support plugin (hsz.mobi)
### User template template
/target/
/out/

# Eclipse STS artifacts
**/.settings/**
**/.classpath
**/.project

# IntelliJ project files
.idea
*.iml

# Mac artifacts
.DS_Store
